# --- Java Derleme Dosyalari (Gereksiz) ---
*.class

# --- Log Dosyalari ---
*.log

# --- Paket ve Arsiv Dosyalari ---
*.jar
*.war
*.zip
*.rar

# --- Editor ve IDE Ayarlari (Gereksiz Kalabalik) ---
.idea/
.vscode/
*.iml
bin/
out/
build/
target/
.DS_Store
